


.container{
 justify-content: center;
 padding-top: 5em;
}
.container h4{
    color: #8E98A8;
    font-family: 'Archivo', sans-serif;
}
.logo{
    width: 15%;
}
.gif{
    width: 70%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 150% !important;
    background-color: #F2F6FD;
    border-radius: 5px;
    border: 1px solid #EBEDF0;
    padding: 1em;
}

form h3{
    font-family: 'Clash Grotesk', sans-serif;
    color: #091E42;
}

label {
    display:inline-block;
    color: #091E42;
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    
    }
    input{
        display: block;
    }


    #name, #password{
    width: 90%;
    height:3em !important;
    border: 1px solid #EBEDF0;
    background-color: #FDFDFD;
    border-radius: 10px;
    padding-left: 2em;
}

form button{
    background-color: #0047B3;
    color: white;
    font-family: 'Archivo', sans-serif;
    border-radius: 7px;
    width: 50%;
    height: 3em;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
   .far{

    margin-left: 20em; 
    cursor: pointer;
   }
   .fa-eye{
    margin-top: -3.8em !important;
    margin-left: 17.7em;
   }

.d-flex{
    background-color: white !important;
    border: none;
    width: 40%;
    /* margin-left: 3em; */
}


.navbar{
    width: 70% !important;
    margin-left: 25em;
    /* border-bottom: 1px solid #B0B0B0; */
}

.container-fluid, .navbar{
    background-color: white !important;
    display: flex !important;
    gap: 5em;
    justify-content: space-between !important;
}
.container-fluid{
    justify-content: flex-end !important;
    padding-right: 15em;
    gap:13em;
    /* width: 0%; */
}

.login{
    display: flex;
    /* margin-left: 20em; */
}

.sidebar {
    width: 170px;
    /* height: 100vh; */
    position: fixed;
    background-color: #ffffff;
    padding-top: 15px;
    /* margin-top: -5em; */
    /* z-index: 1000000; */
  }
  
  .sidebar-container{
    width: 200px;
    border-right: 1px solid #B0B0B0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 110vh;
    margin-top: -5em;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 10px;
    font-size: 18px;
    color: #091E42;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Archivo', sans-serif;  
    width: 117%;
  }
  
  .sidebar i {
    margin-right: 10px;
    color: #003E9C;
  }
  
  .sidebar .chevron {
    float: right;
    margin-top: 2px;
    transition: transform 0.3s ease;
  }
  
  .sidebar .submenu {
    display: none;
  }
  
  .sidebar .open .submenu {
    display: block;
  }
  
  .rotate {
    transform: rotate(180deg);
  }

  .focus{
    background-color: #E6F0FF;
    border-right: 3px solid #003E9C;
  }
  /* main-container */


  .general{
    display: flex;
    background-color: red !important;
    justify-content: center;
    width: 70%;
    margin-left: 6em;
    margin-right: 0;
  }
  .card-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 25%;
    margin-top: -48em;
    /* margin-left: auto;
    margin-right: auto; */
  }

  .card{
    padding-top: 1em;
    
  }
  
  .card-container img{
    width: 4em;
    margin-left: auto;
    margin-right: auto;
  }


  .card-container p{
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    color: #091E42;
  }
  .card-container h1{
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 600;
    color: #FD833F;
  }
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
