.library-dropdown{
    display: flex;
    justify-content: space-around;
    gap: 12.8em;
    position: absolute;
    top: 30%;
    left: 18%;
}

.first-drop{
    display: flex;
    gap: 1em;
}


.first-drop button{
border: 1px solid #0047B3;
color: #0047B3;
border-radius: 7px;
font-family: 'Archivo', sans-serif;
font-weight: 500;
}
.second-drop{
    display: flex;
}
.second-drop input{
    padding-left: 2em;
    width: 80%;
    color: #6D7175;
    border: 1px solid #6D7175 !important;
    font-family: 'Archivo', sans-serif;
    border-radius: 5px;
}
.library-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 40%;
    left: 17.5%;
    gap: 0.5em;
}
.library-image img{
    width: 14rem;
}
.image-details{
    padding-left: 4em;
    padding-top: 5em;
}

.image-details div{
    display: flex;
    justify-content: left;
    gap: 6.7em;
    text-align: left;
    padding-left: 1em;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    color: #091E42;
}

