.breadcrumb-lower{
    display: flex;
    position: absolute;
    top: 40%;
    left: 20%;
    gap: 10em;
}

.bread button, .crumb button{
border: 1px solid #0047B3;
color: #0047B3;
font-family: 'Archivo', sans-serif;
padding: 0.2em 0.9em;
border-radius: 4px;
}
#status{
top: 52%;
left: 20%;
}

.pages-table{
    position: absolute;
    top: 57%;
    left: 20%;
}

.table-tr th{
padding-right: 10em;
}

.table-tr th:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 0em;
}

.table-tr th:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 18.3em;

}

.pages-table td{
font-family: 'Archivo,' sans-serif;
color: #091E42 !important;
font-weight: 500;
padding-bottom: 5em;
}